.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.pdf
*.txt
*.csv
*.jsonl
*.jsonl.gz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

.env


vectorstore/*.json
learning_modules/*.json
mindmaps/*.json
exam_papers/*.json
podcasts/audio/*
podcasts/*.json
podcasts/audio/*.mp3
chat_sessions/*.json
chat_history/*.json


