.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.pdf
*.txt
*.md
*.json
*.csv
*.jsonl
*.jsonl.gz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

.env

./frontend/node_modules  
./vectorstore
./learning_modules
./mindmaps
./exam_papers
./podcasts
./chat_sessions
./chat_history


./frontend/bun.lock
./frontend/bun.lockb
